<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tip Calculator AW WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Tip Calculator AW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DCD466F1A6B489F00673FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DCD46871A6B48A000673FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DCD469B1A6B49AC00673FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DCD46A51A6B49AC00673FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
